body {
    font-family: 'verdana';
    background-color: lightgray;
  }

h1{
    color: #C0C0C0;
}

.p{
    color: #FFFFFF;
    font-size: 8px;
    padding: 20px;
}
#getData{
    color: #FFFFFF;
}
.jumbotron {
    background-color:#FFFFFF !important; 
}